.button {
  height: 100%;
  aspect-ratio: 1;
  background: var(--main);
  padding: 9px;
  border-radius: 5px;

}

.button svg {
  transition: all .3s linear;
}

.button:hover {
  cursor: pointer;
}

.button:hover svg {
  transform: scale(1.04);
}